fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
python-dotenv
python-multipart
pydantic[email]
pydantic-settings
bcrypt==4.0.1
sentence-transformers
chromadb
pdfplumber
passlib
langchain
langchain-text-splitters
requests
pypdf